<div class="dv-banner-cards">
  <div class="container__primary">
    <div class="dv-why-us-cards-content">

      <div class="slider-banner" *ngIf="cards.length > 0">
        <div class="dv-banner-cards__card" *ngFor="let card of cards" data-aos="fade-up">
          <div class="dv-banner-cards__card__content">
            <div class="dv-banner-cards__card__title">
              <h1>{{card.title}}</h1>
              <p>{{card.description}}</p>
            </div>
            <div class="dv-banner-cards__card__img">
              <img [src]="card.img" alt="card">
            </div>
            <div class="dv-banner-cards__card__button">
              <button>Cotizar servicio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
