<footer class="footer">
	<div class="container__primary">
		<div class="footer__container" data-aos="fade-up">
			<div class="footer__logo">
				<img class="logo" src="../../../assets/footer/logo.png" alt="logo" loading="lazy" width="151"
					height="65">


<!--				<div class="footer__logo__links">-->
<!--					<img src="../../../assets/footer/libro-reclamaciones.png" alt="Libro de Reclamaciones" width="262"-->
<!--						height="87" (click)="navigateTo('/libro-reclamaciones')" class="libro-reclamaciones">-->
<!--				</div>-->
			</div>

			<ul class="footer__list">
				EXPLORAR
				<li class="footer__list-item" (click)="navigateToSection('home')"> Inicio
				</li>

				<li class="footer__list-item" (click)="navigateToSection('about-us')"> Nosotros
				</li>

				<li class="footer__list-item" (click)="navigateToSection('products')"> Productos
				</li>

        <li class="footer__list-item" (click)="navigateToSection('promotions')"> Promociones
        </li>
			</ul>

			<ul class="footer__list">
        CONTÁCTANOS
				<a href="https://api.whatsapp.com/send?phone=51971559901" target="_blank">
          <div>
            <i class="fa-brands fa-whatsapp"></i>
          </div>
					<li class="footer__list-item status">+51 971 559 901</li>
				</a>

				<a href="gerencia.agroindustriasmana@gmail.com">
          <div>
            <i class="fa-regular fa-envelope"></i>
          </div>
					<li>gerencia.agroindustriasmana@gmail.com</li>
				</a>

        <a href="https://www.google.com/maps/place/FÁBRICA+DE+CHOCOLATES+SOJHADI/@-8.1856017,-76.5168022,17z/data=!3m1!4b1!4m6!3m5!1s0x91af811d2d254a31:0x52c40413041683d8!8m2!3d-8.1856017!4d-76.5168022!16s%2Fg%2F11pv35ll07?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
          <div>
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <li>Visítanos en nuestra fábrica:<br> Tocache, San Martín (Perú) </li>
        </a>
			</ul>

			<ul class="footer__list">
        SÍGUENOS

				<div class="footer__social-item">

					<a href="https://www.facebook.com/chocolatesojhadi" target="_blank" rel="noopener noreferrer">
						<i class="fa-brands fa-facebook"></i>
					</a>

					<a href="https://www.instagram.com/chocolatesojhadi/" target="_blank"
						rel="noopener noreferrer">
						<i class="fa-brands fa-instagram"></i>
					</a>

					<a href="https://www.tiktok.com/@sojhadi" target="_blank" rel="noopener noreferrer">
						<i class="fa-brands fa-tiktok"></i>
					</a>

				</div>

        <div class="footer__logo__links">
          <img src="../../../assets/footer/libro-reclamaciones.png" alt="Libro de Reclamaciones" width="180"
               height="66" (click)="navigateTo('/libro-reclamaciones')" class="libro-reclamaciones">
        </div>

			</ul>

		</div>
	</div>
</footer>
<div class="footer_description ">
	<p>Política de privacidad | © Dilvant | 2025 | Todos los derechos reservados</p>
</div>
