<footer class="footer">
	<div class="container__primary">
		<div class="footer__container" data-aos="fade-up">
			<div class="footer__logo">
				<img class="logo" src="../../../assets/footer/logo.png" alt="logo" loading="lazy">


<!--				<div class="footer__logo__links">-->
<!--					<img src="../../../assets/footer/libro-reclamaciones.png" alt="Libro de Reclamaciones" width="262"-->
<!--						height="87" (click)="navigateTo('/libro-reclamaciones')" class="libro-reclamaciones">-->
<!--				</div>-->
			</div>

			<ul class="footer__list">
				EXPLORAR
				<li class="footer__list-item" (click)="navigateToSection('home')"> Inicio
				</li>

				<li class="footer__list-item" (click)="navigateToSection('about-us')"> Nosotros
				</li>

				<li class="footer__list-item" (click)="navigateToSection('products')"> Productos
				</li>
			</ul>

			<ul class="footer__list">
        CONTÁCTANOS
				<a href="https://api.whatsapp.com/send?phone=51981140381" target="_blank">
          <div>
            <i class="fa-brands fa-whatsapp"></i>
          </div>
					<li class="footer__list-item status">+51 981 140 381</li>
				</a>

				<a href="mailto:grupoecopatitas@gmail.com">
          <div>
            <i class="fa-regular fa-envelope"></i>
          </div>
					<li>grupoecopatitas@gmail.com</li>
				</a>
			</ul>

			<ul class="footer__list">
        SÍGUENOS

				<div class="footer__social-item">

					<a href="https://www.instagram.com/chocolatesojhadi/" target="_blank"
						rel="noopener noreferrer">
						<i class="fa-brands fa-instagram"></i>
					</a>


				</div>

        <div class="footer__logo__links">
          <img src="../../../assets/footer/libro-reclamaciones.png" alt="Libro de Reclamaciones" width="180"
               height="66" (click)="navigateTo('/libro-reclamaciones')" class="libro-reclamaciones">
        </div>

			</ul>

		</div>
	</div>
</footer>
<div class="footer_description ">
	<p>Política de privacidad | © Dilvant | 2025 | Todos los derechos reservados</p>
</div>
