<section class="dv-mission-vision">
  <div class="container__primary">
    <div class="dv-mission-vision__content" data-aos="fade-up" data-aos-duration="1000">
      <div class="dv-mission-vision__content-item">
        <img src="./assets/mission-vision/mission.png" alt="Misión">
        <div class="text-container">
          <h2>Misión</h2>
          <p>
            Elaborar chocolates con cacao natural y sabor orgánico que transmitan la pasión de nuestras raíces agrícolas, honrando la tierra de Tocache y el esfuerzo de las familias que la cultivan.
          </p>
        </div>
      </div>
      <div class="dv-mission-vision__content-item">
        <div class="text-container">
          <h2>Visión</h2>
          <p>
            Ser una marca que inspire orgullo en nuestra región y en el Perú, reconocida por su autenticidad, calidad y compromiso con el cacao natural y orgánico de nuestra Amazonía.
          </p>
        </div>
        <img src="./assets/mission-vision/vision.png" alt="Visión">
      </div>
    </div>
  </div>
</section>
