<app-dv-navbar></app-dv-navbar>

<div class="libro-reclamaciones">

	<div class="libro-reclamaciones__content__title">
		<h2>Libro de Reclamaciones</h2>
	</div>
	<div class="container__primary">
		<div class="libro-reclamaciones__content">

			<div class="libro-reclamaciones__content__form">

				<div class="libro-reclamaciones__content__form__datos">
					<h3>Datos del Proovedor</h3>

					<p>
						Nombre Comercial: <br><br>
						RUC: <br><br>
						Dirección:

					</p>
				</div>

				<div class="libro-reclamaciones__content__form__reclamo">
					<h3>Datos del Consumidor</h3>
					<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

						<label for="">
							Fecha reclamo/queja:
							<input type="date" formControlName="fecha" placeholder="dd/mm/aaaa" required>
							<span
								*ngIf="formulario.get('fecha')?.invalid && (formulario.get('fecha')?.touched || formulario.get('fecha')?.dirty)">
								<span *ngIf="formulario.get('fecha')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Nombres y Apellidos:
							<input type="text" formControlName="nombres" placeholder="Ingrese sus nombres y apellidos"
								required>
							<span
								*ngIf="formulario.get('nombres')?.invalid && (formulario.get('nombres')?.touched || formulario.get('nombres')?.dirty)">
								<span *ngIf="formulario.get('nombres')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Tipo de Documento:
							<select formControlName="tipoDocumento" required>
								<option value="" disabled selected>Seleccione</option>
								<option value="DNI">DNI</option>
								<option value="CE">CE</option>
								<option value="RUC">RUC</option>
							</select>
							<span
								*ngIf="formulario.get('tipoDocumento')?.invalid && (formulario.get('tipoDocumento')?.touched || formulario.get('tipoDocumento')?.dirty)">
								<span *ngIf="formulario.get('tipoDocumento')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							DNI/CE/RUC:
							<input type="text" formControlName="documento" placeholder="Ingrese su documento" required>
							<span
								*ngIf="formulario.get('documento')?.invalid && (formulario.get('documento')?.touched || formulario.get('documento')?.dirty)">
								<span *ngIf="formulario.get('documento')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Distrito:
							<input type="text" formControlName="distrito" placeholder="Ingrese su distrito" required>
							<span
								*ngIf="formulario.get('distrito')?.invalid && (formulario.get('distrito')?.touched || formulario.get('distrito')?.dirty)">
								<span *ngIf="formulario.get('distrito')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Domicilio:
							<input type="text" formControlName="domicilio" placeholder="Ingrese su domicilio" required>
							<span
								*ngIf="formulario.get('domicilio')?.invalid && (formulario.get('domicilio')?.touched || formulario.get('domicilio')?.dirty)">
								<span *ngIf="formulario.get('domicilio')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Teléfono:
							<input type="text" formControlName="telefono" placeholder="Ingrese su teléfono" required>
							<span
								*ngIf="formulario.get('telefono')?.invalid && (formulario.get('telefono')?.touched || formulario.get('telefono')?.dirty)">
								<span *ngIf="formulario.get('telefono')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Correo electrónico:
							<input type="email" formControlName="correo" placeholder="Ingrese su correo electrónico"
								required>
							<span
								*ngIf="formulario.get('correo')?.invalid && (formulario.get('correo')?.touched || formulario.get('correo')?.dirty)">
								<span *ngIf="formulario.get('correo')?.hasError('required')">Es requerido</span>
								<span *ngIf="formulario.get('correo')?.hasError('email')">Ingrese un correo electrónico
									válido</span>
							</span>
						</label>

						<h3>Identificación del servicio contratado</h3>

            <div style="display: flex; flex-direction: column; align-items: start">
              <div class="" style="display: flex; align-items: center; margin-bottom: 25px; gap: 10px;">
                <input type="radio" name="type" value="Producto" formControlName="tipo"
                       [(ngModel)]="selectedType" required> Producto
              </div>
              <div class="" style="display: flex; align-items: center; gap: 10px;">
                <input type="radio" name="type" value="Servicio" formControlName="tipo"
                       [(ngModel)]="selectedType" required> Servicio
              </div>
            </div>

            <div *ngIf="selectedType === 'Producto'">
              <label for="">
                Producto de Reclamo
                <select formControlName="producto" required>
                  <option value="" disabled selected>Seleccione</option>
                  <option *ngFor="let product of products" [value]="product">{{product}}</option> 

                </select>
                <span
                  *ngIf="formulario.get('producto')?.invalid && (formulario.get('producto')?.touched || formulario.get('producto')?.dirty)">
								<span *ngIf="formulario.get('producto')?.hasError('required')">Es requerido</span>
							</span>
              </label>
            </div>

            <div *ngIf="selectedType === 'Servicio'">
              <label for="">
                Servicio de Reclamo
                <select formControlName="producto" required>
                  <option value="" disabled selected>Seleccione</option>
                  <option *ngFor="let product of services" [value]="product">{{product}}</option> 

                </select>
                <span
                  *ngIf="formulario.get('producto')?.invalid && (formulario.get('producto')?.touched || formulario.get('producto')?.dirty)">
								<span *ngIf="formulario.get('producto')?.hasError('required')">Es requerido</span>
							</span>
              </label>
            </div>


						<label for="">
							Monto reclamado (S/.)
							<input type="text" formControlName="monto" placeholder="Ingrese el monto" required>
							<span
								*ngIf="formulario.get('monto')?.invalid && (formulario.get('monto')?.touched || formulario.get('monto')?.dirty)">
								<span *ngIf="formulario.get('monto')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">
							Descripción del Reclamo
							<textarea formControlName="descripcion" placeholder="Ingrese su descripción"
								required></textarea>
							<span
								*ngIf="formulario.get('descripcion')?.invalid && (formulario.get('descripcion')?.touched || formulario.get('descripcion')?.dirty)">
								<span *ngIf="formulario.get('descripcion')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<h3>Detalle de la reclamación y pedido del consumidor</h3>

						<div>
							<div class="" style="display: flex; align-items: center; margin-bottom: 25px;">

								Queja <input type="radio" name="type" value="Queja" formControlName="tipo" name="tipo"
									required>
							</div>
							<div class="" style="display: flex; align-items: center;">

								Reclamo <input type="radio" name="type" value="Reclamo" formControlName="tipo"
									name="tipo" required>
							</div>
						</div>

						<label for="">Detalle

							<textarea formControlName="detalle" placeholder="Ingrese su detalle" required></textarea>
							<span
								*ngIf="formulario.get('detalle')?.invalid && (formulario.get('detalle')?.touched || formulario.get('detalle')?.dirty)">
								<span *ngIf="formulario.get('detalle')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<label for="">Pedido

							<textarea formControlName="pedido" placeholder="Ingrese su pedido" required></textarea>
							<span
								*ngIf="formulario.get('pedido')?.invalid && (formulario.get('pedido')?.touched || formulario.get('pedido')?.dirty)">
								<span *ngIf="formulario.get('pedido')?.hasError('required')">Es requerido</span>
							</span>
						</label>

						<p>*La formulación del reclamo no impide acudir a otras vías de solución de controversias ni
							es requisito previo para interponer una denuncia ante el INDECOPI.<br>
							* El proveedor deberá dar respuesta al reclamo en un plazo no mayor a treinta (30) días
							calendario, pudiendo ampliar el plazo hasta por treinta (30) días más, previa comunicación
							al consumidor.</p>

						<div class="" style="margin: 0 auto;">
							<button type="submit">

								ENVIAR AHORA

							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="notification" *ngIf="showNotification">
	<div class="">
		<h2>Su reclamo ha sido enviado</h2>
		<p>Le agradecemos su participación en nuestro proceso de mejora continua. Su reclamo ha sido recepcionado y
			será atendido en los próximos 30 días. Le enviaremos un correo electrónico con la respuesta a su reclamo.
		</p>
	</div>
</div>

<app-dv-footer></app-dv-footer>
