<nav>
	<div class="container__primary">

		<div class="dv-navbar__content">

			<div class="dv-navbar__logo" (click)="navigateToSection('home')">
				<img src="./../../../assets/logo.png" alt="logo">
			</div>

			<div class="dv-navbar__menu">
				<a (click)="navigateToSection('mininos')">
					<div class="dv-navbar__menu-item">Mininos</div>
				</a>
				<a (click)="navigateToSection('caninos')">
					<div class="dv-navbar__menu-item">Caninos</div>
				</a>
				<a (click)="navigateToSection('about-us')">
					<div class="dv-navbar__menu-item">Nosotros</div>
				</a>
        <a (click)="navigateToSection('cta')">
          <div class="dv-navbar__menu-item">Contáctanos</div>
        </a>
			</div>

      <div class="dv-navbar__menu-icons">
        <div class="dv-navbar__menu-icons-icon instagram" (click)="navigateToUrl('https://www.instagram.com/ecopatitass4?igsh=MXhucjczdzJxdDhzaw==')">
          <span class="tooltip">Instagram</span>
          <i class="fab fa-instagram"></i>
        </div>
      </div>

			<div class="dv-navbar__menu-mobile" (click)="toggleMenu()">
				<img src="./assets/icons/navbar-menu.svg" alt="navbar icon">
			</div>
		</div>

		<div class="dv-navbar__menu-mobile-container">

			<a (click)="navigateToSection('home')">
				<div class="dv-navbar__menu-item">Inicio</div>
			</a>
			<a (click)="navigateToSection('about-us')">
				<div class="dv-navbar__menu-item">Nosotros</div>
			</a>
			<a (click)="navigateToSection('beneficios')" target="_blank">
				<div class="dv-navbar__menu-item">Servicios</div>
			</a>

		</div>
	</div>

</nav>
