<div class="dv-our-history">
  <div class="container__primary">
    <div class="dv-our-history__content">
      <div class="dv-our-history__content__text" data-aos="fade-up">
        <h2>Nuestra Historia</h2>
        <p>
          En Sojhadi creemos que el buen chocolate empieza en la tierra. Nuestra historia nace en la Universidad Nacional Agraria de la Selva (UNAS), en Tingo María, como un proyecto universitario que poco a poco se transformó en un sueño familiar.<br>
          Somos jóvenes de Tocache, hijos de agricultores, que crecimos entre chacras y cosechas. De esa raíz agrícola heredamos la pasión por el cacao y el deseo de darle un nuevo valor: convertirlo en chocolate con sabor orgánico y natural, que conserve la esencia pura de nuestra Amazonía.<br>
          Con dedicación y amor por lo que hacemos, perfeccionamos nuestra chocolatería hasta ver reconocidos nuestros esfuerzos en concursos y ferias, siempre fieles a lo que nos inspira: la familia, la tierra y la comunidad.<br>
          Hoy, cada barra de Sojhadi lleva consigo una historia: la de un pueblo que trabaja con esperanza, la de una familia que cree en sus sueños, y la de un cacao que nace del corazón de la selva para convertirse en arte y sabor.
        </p>
      </div>
    </div>
  </div>
  <img src="./assets/our-history/chocolate.png" alt="Chocolate" class="chocolate">
</div>
