<section class="dv-type-selection">
  <div class="container__primary">
    <div class="dv-type-selection__content" data-aos="fade-up">
      <h2 class="dv-type-selection__title">OBTEN TU JUGUETE SIN SALIR DE CASA</h2>
      <div class="dv-type-selection__buttons">
        <div class="dv-type-selection__buttons-card" (click)="navigateToSection('mininos')">
          <img src="./assets/type-selection/card-1.png" alt="Imagen de un gato">
          <h3>Mininos</h3>
        </div>

        <div class="dv-type-selection__buttons-card" (click)="navigateToSection('caninos')">
          <img src="./assets/type-selection/card-2.png" alt="Imagen de un perro">
          <h3>Caninos</h3>
        </div>
      </div>

    </div>
  </div>
</section>
