<section class="dv-about-us" id="about-us">
  <div class="container__primary">
    <div class="dv-about-us__content">
      <div class="image">
        <img [src]="imageSrc" alt="Sobre nosotros Imagen">
      </div>

      <div class="dv-about-us__content-text">
        <h1>
          SOBRE NOSOTROS
        </h1>
        <p>
          EcoPatitas se creó con el propósito de cuidar de la salud de las mascotas y proporcionar un desarrollo integral en los engreídos del hogar.
          De esta manera, ofrecemos productos elaborados de materiales reciclados ayudando al cuidado del medio ambiente y poniendo en primer lugar la sostenibilidad.
        </p>
      </div>
    </div>
  </div>
</section>
